# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Conda
artifacts/
conda-bld/

# Lin
*~
*.swp
.directory

# Bin
*.exe
*.so
*.a
shared-ptr-demo


# Win
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# VS
.vs/
.vscode/
out/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.db
*.opendb
*.vcxproj.user
*.sqlite
